<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">ABOUT</h1>
    <div class="col-lg-6 mx-auto">
        <br>
        <h2 class="lead">Hello Everyone</h2>
        <h2>I'm Himanshu Ghorwal</h2>
        <p class="lead"> Second Year MCA student at NIT Trichy. I have created a Cooking Blog here you can share your delicious Recipes with Everyone around the world.</p>
    </div>
</div>
